@using TravelTripProject.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    @foreach (var x in Model)
    {
        <div class="wrap">
            <div class="about">
                <h3>Hakkımızda</h3>
                <img src="@x.FotoURL" alt="" />
                <p>@x.Aciklama</p>
            </div>
        </div>
    }

</div>

