@using TravelTripProject.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body>

    
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Rahat Bir Gezi Planla</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restorantlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Aktiviteler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Araba Kiralama</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:570px;height:350px;">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                {
                                    <li><img width="650" height="400" src="@x.BlogImage" alt=""
                                    style="width:570px; height:350px; object-fit:cover; object-position:center;"></li> //fotğrafların boyutları farklı olduğu için bu kodu yazmak zorunda kaldım diğer türlü şekilsiz duruyor object-fit: cover; → Resmi kırpmadan sığdırır  object-fit: contain; → Resmin tamamını gösterir object-fit: fill; → Resmi deforme ederek doldurur


                                    @*<li><img src="~/web/images/img2.jpg" alt=""></li>
                                    <li><img src="~/web/images/img3.jpg" alt=""></li>
                                   <li><img src="~/web/images/img4.jpg" alt=""></li>*@
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tatil Seyehat Bloğuma Hoşgeldiniz ♡ </h3>
                    <p>Dünyayı keşfetmeye, yeni kültürler tanımaya ve her yolculukta kendinizi biraz daha bulmaya hazır mısınız? 🌍 Burada; Japonya’nın sakin sokaklarından Paris’in romantik caddelerine, New York’un enerjisinden Ege’nin huzurlu koylarına kadar uzanan bir yolculuğa çıkacağız. Her yazıda seyahatin sadece bir rota değil, bir ruh hali olduğunu hissedeceksiniz. Valizinizi hazırlayın, birlikte keşfedelim! ✈️</p>
                </div>
                @Html.Action("Partial1","Default")
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3","Default")
                       @Html.Action("Partial4","Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>


