@using TravelTripProject.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "HakkimizdaListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Foto URL</th>
        <th>Açıklama</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.FotoURL</td>
            <td>@(x.Aciklama.Length > 100 ? x.Aciklama.Substring(0, 100) + "..." : x.Aciklama)</td>
            <td><a href="/Admin/HakkimizdaGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Admin/HakkimizdaSil/@x.ID" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?')">Sil</a></td>
        </tr>
    }
</table>